<a class="navItemLink" href="./dev"><span class="navItem">Development</span></a>
<a class="navItemLink" href="./bp"><span class="navItem">Living with bipolar</span></a>
<a class="navItemLink" href="./ms"><span class="navItem">Living with MS</span></a>
