<!doctype html>
<html ng-app="todoApp">
  <head>
    <% include ./partials/head %>
  </head>
  <header class="header-block">
    <% include ./partials/header %>
  </header>
  <body class="body-block">
    <% include ./partials/navbar %>
    <% articles.forEach(function(article) { %>
      <% include ./partials/articles %>
    <% }); %>
    <div class="footer-block" ng-controller="TodoListController as todoList">
      <% include ./partials/footer/footer %>
    </div>
  </body>
</html>
