.header-block {
  background-color: rgba(40, 40, 40, 0.5);
}
.body-block {
  background-color: rgba(70, 70, 70, 0.5);
}
.content-block {
  background-color: rgba(100, 100, 100, 0.5);
}

.content-block img {
  margin: auto;
  display: block;
}

.footer-block {
  background-color: rgba(150, 150, 150, 0.5);
}

.todo-column {
  width: 30%;
  height: 400px;
  float: left;
}
.todo-column::after {
  float: clear;
}
.todo-item:hover, .navItem:hover {
  background-color: rgba(150, 150, 150, 0.5);
}

.navItemLink {
  color: rgb(0,0,0);
}

.navItem {
  text-align: center;
  display: inline-block;
  width: 33%;
}
